<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Registra tu marca digital y pon tus ideas en línea - Copyright © 2021</title>

    <link rel="canonical" href="pontusideasenlinea.com" />
    <meta name="description" content="Registra tu marca digital, mejora tu posicionamiento y genera confianza con un solo clic">
    <meta name="keywords" content="Godaddy, godaddy.com, pon tus ideas en linea, pontusideasenlinea.com, marketing70.com, marketing70.es, marketing70.pe" />
    <meta name="author" content="https://marketing70.com/">
    <meta name="theme-color" content="#6666FF" />

    <link rel="shortcut icon" href="static/img/iconos/favicon.png">
    <link rel="apple-touch-icon" href="static/img/iconos/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/img/iconos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="static/img/iconos/apple-touch-icon-114x114.png">

    <link rel="stylesheet" href="static/css/principal.css" />
</head>

<body>
    <div class="bg">
        <div class="logotipo">
            <a href="https://pontusideasenlinea.com"><img src="static/img/iconos/logo-pontusideasenlinea.svg" alt=""></a>
        </div>
        <div class="bg_b">
            <div class="bg_b1">
                <div class="titulo_a">
                    <h1>Pon tus ideas en línea</h1>
                </div>
                <div class="info_b">
                    <div class="subtitulo_b">
                        <h4>dominio <b>+</b> web <b>+</b> email</h4>
                    </div>
                    <div class="titulo_b">
                        <h2>CONSTRUYE TU ÉXITO</h2>
                    </div>
                    <div class="informacion_b">
                        <p>Registra tu marca digital, mejora tu posicionamiento y genera confianza con un solo <b>clic.</b></p>
                    </div>
                </div>
                <div class="botones_b">
                    <div class="sorteo">
                        <a href="{% url 'empieza_gratis_index' %}">
                            <button id="btn_gratis">
                                <span class="b_gratis">
                                    <span>empezar</span>
                                    <span>GRATIS</span>
                                </span>
                            </button>
                        </a>
                    </div>
                    <div class="compra">
                        <a href="#">
                            <button>
                                <span class="precio">
                                    <span>US$</span>
                                    <span>13.90</span>
                                    <span>*</span>
                                    <span>/año</span>
                                </span>
                                <span class="nota_precio">
                                    <span>*Registro y Renovación</span>
                                </span>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="redes">
                    <div class="iconos">
                        <div>
                            <a href="https://www.facebook.com/pontusideasenlinea/"><img src="static/img/iconos/facebook.svg" alt=""></a>
                        </div>
                        <div>
                            <a href="https://www.instagram.com/pontusideasenlinea/"><img src="static/img/iconos/instagram.svg" alt=""></a>
                        </div>
                        <div>
                            <a href="https://wa.me/message/6V5CC5JVXAMBF1"><img src="static/img/iconos/whatsapp.svg" alt=""></a>
                        </div>
                        <div>
                            <a href="https://www.youtube.com/channel/UC5ZiiB-TGmXRnbnZzjQ9nkg"><img src="static/img/iconos/youtube.svg" alt=""></a>
                        </div>
                        <div>
                            <a href="https://www.tiktok.com/@pontusideasenlinea"><img src="static/img/iconos/tiktok.svg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg_b2">
                <div class="bgimg">
                    <div class="titulo_a">
                        <h1>Pon tus ideas en línea</h1>
                    </div>
                    <img src="static/img/banner/bg_principal.png" alt="">
                </div>
            </div>
        </div>
        <div class="bg_c">
            <div class="footer">
                <span>Copyright © 2021. Todos los derechos reservados. pontusideasenlinea™</span>
                <span>|</span>
                <span><a href="https://marketing70.com/sobre-marketing70">Sobre nosotros</a></span>
            </div>
        </div>
    </div>


    <script src="static/js/jquery-3.5.1.min.js"></script>
</body>

</html>