<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>¡Apoyamos tu emprendimiento!</title>

    <link rel="canonical" href="pontusideasenlinea.com" />
    <meta name="description" content="Registra tu marca digital, mejora tu posicionamiento y genera confianza con un solo clic">
    <meta name="keywords" content="Godaddy, godaddy.com, pon tus ideas en linea, pontusideasenlinea.com, marketing70.com, marketing70.es, marketing70.pe" />
    <meta name="author" content="https://marketing70.com/">
    <meta name="theme-color" content="#6666FF" />

    <link rel="shortcut icon" href="../../static/img/iconos/favicon.png">
    <link rel="apple-touch-icon" href="../../static/img/iconos/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../static/img/iconos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../static/img/iconos/apple-touch-icon-114x114.png">

    <link rel="stylesheet" href="../../static/css/prueba.css" />
</head>

<body>
    <div class="bg">
        <div class="logotipo">
            <a href="https://pontusideasenlinea.com"><img src="../../static/img/iconos/logo-pontusideasenlinea.svg" alt=""></a>
        </div>
        <div class="bg_b">
            <div class="bg_b1" id="sorteoActivo">
                <div class="titulo_a">
                    <h1>¡Apoyamos tu emprendimiento!</h1>
                </div>
                <div class="info_b">
                    <div class="subtitulo_b">
                        <h4>dominio <b>+</b> web <b>+</b> email</h4>
                    </div>
                    <div class="titulo_b">
                        <span>GRATIS</span>
                        <SPan>/01 mes</SPan>
                    </div>
                    <div class="informacion_b">
                        <p>Cada semana sortearemos todo incluido <span>para 02 empresas.</span></p>
                        <p>Para participar, busca el nombre para tu empresa (.com)</p>
                    </div>
                </div>
                <div id="temporizador" class="temporizador">
                    <div class="quedan">
                        <span>quedan</span>
                    </div>
                    <div class="tiempo">
                        <div class="marco_tiempo">
                            <span id="timer_dias"></span>
                            <span>días</span>
                        </div>
                        <div class="marco_tiempo">
                            <span id="timer_horas"></span>
                            <span>horas</span>
                        </div>
                        <div class="marco_tiempo">
                            <span id="timer_minutos"></span>
                            <span>min</span>
                        </div>
                        <div class="marco_tiempo">
                            <span id="timer_segundos"></span>
                            <span>seg</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg_b1" id="sinSorteo">
                <div class="titulo_sinsorteo">
                    ¡Lo sentimos no tenemos sorteo por el momento!
                </div>
            </div>
            <div class="bg_b2">
                <div class="bgimg">
                    <img src="../static/img/banner/bg_prueba.png" alt="">
                </div>
                <div class="redes">
                    <div class="iconos">
                        <div>
                            <a href="https://www.facebook.com/pontusideasenlinea/"><img src="../static/img/iconos/facebook.svg" alt=""></a>
                        </div>
                        <div>
                            <a href="https://www.instagram.com/pontusideasenlinea/"><img src="../static/img/iconos/instagram.svg" alt=""></a>
                        </div>
                        <div>
                            <a href="https://wa.me/message/6V5CC5JVXAMBF1"><img src="../static/img/iconos/whatsapp.svg" alt=""></a>
                        </div>
                        <div>
                            <a href="https://www.youtube.com/channel/UC5ZiiB-TGmXRnbnZzjQ9nkg"><img src="../static/img/iconos/youtube.svg" alt=""></a>
                        </div>
                        <div>
                            <a href="https://www.tiktok.com/@pontusideasenlinea"><img src="../static/img/iconos/tiktok.svg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg_c">
            <div class="footer">
                <span>Copyright © 2021. Todos los derechos reservados. pontusideasenlinea™</span>
                <span>|</span>
                <span><a href="https://marketing70.com/sobre-marketing70">Sobre nosotros</a></span>
            </div>
        </div>
    </div>
    <script src="../static/js/jquery-3.5.1.min.js"></script>
    <script src="../static/js/prueba.js"></script>
</body>

</html>